.not-found {
  text-align: center;

  .title {
    font-size: 48px;
    font-weight: 700;
  }

  .description {
    margin-top: 16px;
    font-size: 18px;
  }

  .action {
    margin-top: 24px;
  }
}
