.footer {
  height: 64px;
  box-sizing: border-box;
  padding-block: 12px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(228, 228, 231);

  .footer-content {
    max-width: 1320px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    margin: 0 auto;

    .source {
      display: flex;
      gap: 8px;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
