.registration {
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    margin: 0 auto;
  }
}
